**Hi, I'm Brandur.**

I like databases, the independent web, and fast interfaces. I write in full sentences on Slack and use emoticons instead emoji. I think the modern web took a wrong turn on its evolutionary path and that we should resurrect ideas from the earlier days of computing — less centralization, software that's harder to learn but more powerful, and wider technical literacy.

My [personal website is here](https://brandur.org) and I'm on Twitter at [***@brandur***](https://twitter.com/brandur).

---

I'm a sometimes writer. Most frequently by publishing a newsletter called [**Nanoglyph**](https://brandur.org/newsletter#nanoglyph) (which you should sign up for :). Here are its latest issues:
{{range (slice .Nanoglyphs 0 3)}}
* ⓝ [{{HTMLEscape .Title}}]({{.Link.Href}}) <sub><em>{{FormatTimeLocal .Published}}</em></sub>
{{- end}}

---

I put other stream of consciousness thoughts into tiny blog posts called [**fragments**](https://brandur.org/fragments):
{{range (slice .Fragments 0 3)}}
* 🐚 [{{HTMLEscape .Title}}]({{.Link.Href}}) <sub><em>{{FormatTimeLocal .Published}}</em></sub>
{{- end}}

---

Once in a while, I write longer form [**articles**](https://brandur.org/articles):
{{range (slice .Articles 0 3)}}
* 📖 [{{HTMLEscape .Title}}]({{.Link.Href}}) <sub><em>{{FormatTimeLocal .Published}}</em></sub>
{{- end}}

---

As often as I can, I post a daily photo and update to [**sequences**](https://brandur.org/sequences):
{{range (slice .Sequences 0 3)}}
* 📷 [{{HTMLEscape .Title}}]({{.Link.Href}}) <sub><em>{{FormatTimeLocal .Published}}</em></sub>
{{- end}}

---

This `README.md` is generated automatically by [a scheduled GitHub Action](https://github.com/brandur/brandur/blob/master/.github/workflows/ci.yml). More information on how that works [here](https://brandur.org/fragments/self-updating-github-readme).

[![Build Status](https://github.com/brandur/brandur/workflows/brandur%20CI/badge.svg)](https://github.com/brandur/brandur/actions)
